<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>article管理</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- 引入样式 -->
    <link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="../plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/style.css">

    <!-- 上传图片框样式，不使用上传组件可以删除此样式 -->
    <style>
        .avatar-uploader .el-upload {
            border: 1px dashed #d9d9d9;
            border-radius: 6px;
            cursor: pointer;
            position: relative;
            overflow: hidden;
        }
        .avatar-uploader .el-upload:hover {
            border-color: #409EFF;
        }
        .avatar-uploader-icon {
            font-size: 28px;
            color: #8c939d;
            width: 150px;
            height: 70px;
            line-height: 150px;
            text-align: center;
        }
        .avatar {
            width: 150px;
            height: 70px;
            display: block;
        }

    </style>
</head>
<body class="hold-transition">
<div id="app">

    <div class="content-header">
        <h1>管理<small>article管理</small></h1>
        <el-breadcrumb separator-class="el-icon-arrow-right" class="breadcrumb">
            <el-breadcrumb-item :to="{ path: '/' }">首页</el-breadcrumb-item>
            <el-breadcrumb-item>管理</el-breadcrumb-item>
            <el-breadcrumb-item>article管理</el-breadcrumb-item>
        </el-breadcrumb>
    </div>

    <div class="app-container">
        <div class="box">
            <div class="filter-container">
                <!--查询表单-->
                <el-form :inline="true" >
                          <el-form-item label="文章标题">
<el-input v-model="searchMap.articleTitle" placeholder="文章标题" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="文章内容">
<el-input v-model="searchMap.articleContent" placeholder="文章内容" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="发布时间">
<el-input v-model="searchMap.createTime" placeholder="发布时间" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="发布人id">
<el-input v-model="searchMap.userId" placeholder="发布人id" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="删除标志 0正常 1 删除(屏蔽)">
<el-input v-model="searchMap.delFlag" placeholder="删除标志 0正常 1 删除(屏蔽)" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="点赞人数">
<el-input v-model="searchMap.likeCount" placeholder="点赞人数" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="评论人数">
<el-input v-model="searchMap.commentCount" placeholder="评论人数" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="浏览人数">
<el-input v-model="searchMap.browseCount" placeholder="浏览人数" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="'0为未审核，1为审核'">
<el-input v-model="searchMap.status" placeholder="'0为未审核，1为审核'" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="收藏人数">
<el-input v-model="searchMap.collectionCount" placeholder="收藏人数" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="标签(标签表查询id)">
<el-input v-model="searchMap.label" placeholder="标签(标签表查询id)" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="是否推荐 0 推荐 1不推荐">
<el-input v-model="searchMap.isRecommend" placeholder="是否推荐 0 推荐 1不推荐" class="filter-item" ></el-input></el-form-item>
          <el-form-item label="文章类型id">
<el-input v-model="searchMap.contentType" placeholder="文章类型id" class="filter-item" ></el-input></el-form-item>

                <el-button class="dalfBut" @click="fetchData()">查询</el-button>
                <el-button type="primary"  class="butT" @click="formVisible=true;pojo={}">新增</el-button>
                </el-form>
            </div>

            <el-table :data="tableData" border style="width: 100%">
                          <el-table-column prop="articleId" label="主键id" width="80"></el-table-column>
          <el-table-column prop="articleTitle" label="文章标题" width="80"></el-table-column>
          <el-table-column prop="articleContent" label="文章内容" width="80"></el-table-column>
          <el-table-column prop="createTime" label="发布时间" width="80"></el-table-column>
          <el-table-column prop="userId" label="发布人id" width="80"></el-table-column>
          <el-table-column prop="delFlag" label="删除标志 0正常 1 删除(屏蔽)" width="80"></el-table-column>
          <el-table-column prop="likeCount" label="点赞人数" width="80"></el-table-column>
          <el-table-column prop="commentCount" label="评论人数" width="80"></el-table-column>
          <el-table-column prop="browseCount" label="浏览人数" width="80"></el-table-column>
          <el-table-column prop="status" label="'0为未审核，1为审核'" width="80"></el-table-column>
          <el-table-column prop="collectionCount" label="收藏人数" width="80"></el-table-column>
          <el-table-column prop="label" label="标签(标签表查询id)" width="80"></el-table-column>
          <el-table-column prop="isRecommend" label="是否推荐 0 推荐 1不推荐" width="80"></el-table-column>
          <el-table-column prop="contentType" label="文章类型id" width="80"></el-table-column>

                    <el-table-column
                            label="操作"  >
                        <template slot-scope="scope">
                            <el-button @click="edit(scope.row.articleId)" size="mini" type="primary" size="small">修改</el-button>
                            <el-button @click="dele(scope.row.articleId)" size="mini" type="danger" size="small">删除</el-button>
                        </template>
                    </el-table-column>
            </el-table>
            <div class="pagination-container">
                <el-pagination
                        class="pagiantion"
                        @size-change="fetchData"
                        @current-change="fetchData"
                        :current-page.sync="currentPage"
                        :page-sizes="[10, 20, 30, 40]"
                        :page-size="size"
                        layout="total, sizes, prev, pager, next, jumper"
                        :total="total">
                </el-pagination>
            </div>
            <div class="add-form">
                <!--弹出窗口-->
                <el-dialog  title="编辑" :visible.sync="formVisible" >
                    <el-form label-width="80px">
                                <el-form-item label="文章标题"><el-input v-model="pojo.articleTitle"></el-input></el-form-item>
        <el-form-item label="文章内容"><el-input v-model="pojo.articleContent"></el-input></el-form-item>
        <el-form-item label="发布时间"><el-input v-model="pojo.createTime"></el-input></el-form-item>
        <el-form-item label="发布人id"><el-input v-model="pojo.userId"></el-input></el-form-item>
        <el-form-item label="删除标志 0正常 1 删除(屏蔽)"><el-input v-model="pojo.delFlag"></el-input></el-form-item>
        <el-form-item label="点赞人数"><el-input v-model="pojo.likeCount"></el-input></el-form-item>
        <el-form-item label="评论人数"><el-input v-model="pojo.commentCount"></el-input></el-form-item>
        <el-form-item label="浏览人数"><el-input v-model="pojo.browseCount"></el-input></el-form-item>
        <el-form-item label="'0为未审核，1为审核'"><el-input v-model="pojo.status"></el-input></el-form-item>
        <el-form-item label="收藏人数"><el-input v-model="pojo.collectionCount"></el-input></el-form-item>
        <el-form-item label="标签(标签表查询id)"><el-input v-model="pojo.label"></el-input></el-form-item>
        <el-form-item label="是否推荐 0 推荐 1不推荐"><el-input v-model="pojo.isRecommend"></el-input></el-form-item>
        <el-form-item label="文章类型id"><el-input v-model="pojo.contentType"></el-input></el-form-item>

                            <!-- 图片上传代码 如页面有图片上传功能放开注释 ****
                            <el-form-item label="图片">
                                <el-upload
                                        class="avatar-uploader"
                                        action="/upload/native.do"
                                        :show-file-list="false"
                                        :on-success="handleAvatarSuccess"
                                        :before-upload="beforeAvatarUpload">
                                    <img v-if="imageUrl" :src="imageUrl" class="avatar">
                                    <i v-else class="el-icon-plus avatar-uploader-icon"></i>
                                </el-upload>
                            </el-form-item>
                            -->

                            <el-form-item>
                                <el-button type="primary" @click="save()">保存</el-button>
                                <el-button @click="formVisible = false" >关闭</el-button>
                            </el-form-item>
                    </el-form>
                </el-dialog>
            </div>

        </div>
    </div>


</div>
</body>
<script src="/js/vue.js"></script>
<script src="/js/axios.js"></script>
<script src="/js/elementui.js"></script>
<script>
     new Vue({
        el: '#app',
        data(){
            return {
                tableData: [],
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                pojo: {},
                formVisible: false,
                imageUrl: ''
            }
        },
        created(){
            this.fetchData();
        },
        methods:{
            fetchData (){
                axios.post(`/article/findPage.do?page=${this.currentPage}&size=${this.size}`,this.searchMap).then(response => {
                    this.tableData = response.data.rows;
                    this.total = response.data.total;
                });
            },
            save (){
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                axios.post(`/article/${this.pojo.articleId==null?'add':'update'}.do`,this.pojo).then(response => {
                    this.fetchData (); //刷新列表
                    this.formVisible = false ;//关闭窗口
                });
            },
            edit (articleId){
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`/article/findById.do?articleId=${articleId}`).then(response => {
                    this.pojo = response.data;
                    // this.imageUrl=this.pojo.image //显示图片  如页面有图片上传功能放开注释
                })
            },
            dele (articleId){
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then( () => {
                    axios.get(`/article/delete.do?articleId=${articleId}`).then(response => {
                        this.fetchData (); //刷新列表
                    })
                })
            },
			/* ****图片上传相关代码  如页面有图片上传功能放开注释 **** 
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }*/
        }
    })
</script>
</html>
